body{
    background: #ccc;
}
h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding-top: 20px;
    margin: 15px;
}
#banner{
    width: 100%;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
    padding: 20%;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.principal{
    background: #cccccc;
    padding: 30px;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

