body {
    background: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.caixa {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px 20px;
}

header h1 {
    height: auto;
    line-height: normal;
    border: none;
    padding-top: 0;
    margin: 0;
    text-align: left;
}

header img {
    width: 150px;
}
nav {
    position: absolute;
    top: 40px;
    right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
#banner {
    width: 100%;
    height: auto;
    display: block;
}
.principal {
    background: #cccccc;
    padding: 30px;
    margin: 20px 0;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.itens {
    font-style: italic;
    margin: 10px 0;
}

.beneficios {
    background: #ffffff;
    padding: 50px;
    margin-top: 40px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.beneficios ul {
    list-style: disc;
    padding-left: 20px;
}

.beneficios img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    background: url("bg.jpg") #333;
    padding: 40px 0;
    color: white;
}

footer img {
    width: 150px;
    margin-bottom: 20px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}
form {
    max-width: 940px;
    margin: 60px auto 40px;
    padding: 0 20px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form input[type="submit"] {
    width: auto;
    cursor: pointer;
    background: #C78C19;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background: #daa520;
}